.StarInput {
  display: flex;
}
.StarInput .star {
  cursor: pointer;
}
.StarInput .star svg {
  width: 40px;
  height: 40px;
  fill: #c9c9c6;
  stroke-width: 1;
  stroke: rgb(0, 0, 0);
}
.StarInput .star.active svg {
  fill: #ffff3c;
}
.StarInput .star:hover svg{
  fill: #2b599e;
}
