.view {
  margin: 30px 0;
}

.image-view {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.5);
}

.image-view::before {
  content: "";
  display: block;
  z-index: 3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s linear;
  opacity: 0.3;
  background-color: #000;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 40px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 30px
    );
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.image-view h1 {
  opacity: 1;
  transition: opacity 0.5s linear;
  margin: 0;
  position: absolute;
  text-transform: capitalize;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 3;
  display: inline-block;
  color: #fff;
  padding: 5%;
  border: 2px solid #fff;
  letter-spacing: 0.1em;
  font-weight: 200;
}
.image-view:hover::before,
.image-view:hover h1 {
  opacity: 0;
}
.image-view img {
  width: 100%;
}
.view .image-description {
  padding: 5px;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 3px 30px rgba(0, 0, 0, 0.3);
}
.view .image-description .author {
  display: flex;
  align-items: center;
  padding: 0.4em 0.5em;
  border-bottom: 1px solid #ccc;
}
.view .image-description .author span {
  text-transform: capitalize;
  font-style: italic;
}
.view .image-description .controls {
  margin-top: auto;
}
.view .image-description .avatar.small {
  margin-right: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}
.view .image-description .text h3 {
  font-family: "Handlee";
  font-weight: 200;
  font-size: 2em;
  margin: 0;
  margin-top: 10px;
}
.view .image-description .text p {
  line-height: 1.3em;
  letter-spacing: 0.05em;
}
.view .image-description .text p::first-letter {
  padding-left: 2em;
}
.view .view-head {
  text-align: center;
  margin-bottom: 20px;
  padding: 5px 0;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}
.view .view-head h3,
.view .view-head h1 {
  margin: 0;
  font-weight: 200;
  text-transform: uppercase;
}
.view .view-head h1 {
  font-size: 1.6em;
}
.view .view-head {
  font-family: "Handlee";
  padding-top: 10px;
  background: #fff;
}
.view .view-head .post-info-date {
  display: flex;
  justify-content: center;
}
.view .view-head .post-info-date span {
  color: rgb(167, 163, 163);
  font-size: 0.98em;
  padding: 10px 0px;
  display: flex;
  align-items: center;
}
.view .view-head .post-info-date span::before,
.view .view-head .post-info-date span::after {
  content: "";
  margin: 0 20px;
  width: 200px;
  height: 1px;
  background: rgb(167, 163, 163);
}

.SliderView .slide {
  cursor: pointer;
  background-size: cover;
  height: 500px;
}
.SliderView .slick-dots {
  bottom: 10px;
}
.slick-dots li {
  width: 20px;
  height: 20px;
}
.SliderView .slick-dots li button {
  position: relative;
  width: 100%;
  height: 100%;
}
.SliderView .slick-dots li button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #000;
}
.PosterView .view-area {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.PosterView .posters {
  transition: transform 0.55s ease-in;
  position: absolute;
  background: #fff;
}
.PosterView .poster * {
  box-sizing: border-box;
  margin: 0;
}
.PosterView .poster {
  position: relative;
  box-sizing: border-box;
}
.HorizontalPosters > .posters {
  display: flex;
  flex-direction: row;
  width: 100vh;
}
.VerticalPosters > .posters {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.VerticalPosters .poster {
  height: 100vh;
}
.HorizontalPosters .poster {
  width: 100vw;
}
.poster .poster-full-image {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.arrow {
  position: absolute;
  z-index: 3;
  cursor: pointer;
}
.VerticalPosters > .poster-gui .arrow {
  left: 50%;
  bottom: 2%;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
}
.HorizontalPosters > .poster-gui .arrow {
  right: 8%;
  bottom: 2%;
}
.HorizontalPosters > .poster-gui .arrow:first-child::after {
  content: "";
  display: block;
  border-bottom: 2px solid #000;
}
.HorizontalPosters > .poster-gui .arrow svg {
  fill: rgb(73, 73, 73);
  opacity: 0.4;
  width: 50px;
}
.HorizontalPosters > .poster-gui .arrow.active svg {
  opacity: 1;

  fill: rgb(0, 0, 0);
}
.poster-gui .left-arrow {
  transform: translateY(-100%);
}
.poster-gui .arrow svg {
  width: 100%;
  height: 100%;
  fill: rgb(0, 7, 43);
}

.poster-gui .poster-btn-wrapper {
  display: flex;
  z-index: 3;
  border-radius: 20px;
  position: absolute;
  border: 1px solid rgb(37, 52, 95);
}
.HorizontalPosters > .poster-gui .poster-btn-wrapper {
  flex-direction: row;
  bottom: 2%;
  left: 2%;
  padding: 5px 15px;
}
.VerticalPosters > .poster-gui .poster-btn-wrapper {
  transform: translateY(-50%);
  flex-direction: column;
  align-items: center;
  left: 2%;
  top: 50%;
  padding: 15px 5px;
}
.poster-gui .poster-button {
  width: 14px;
  height: 14px;
  background: rgb(37, 52, 95);
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.5s linear;
}
.poster-gui .poster-button.active {
  border: 1px solid rgb(37, 52, 95);
  background: inherit;
  width: 14px;
  height: 14px;
}
.VerticalPosters > .poster-gui .poster-button {
  margin: 5px 0;
}
.HorizontalPosters > .poster-gui .poster-button {
  margin: 0 5px;
}
.poster .free-space {
  position: absolute;
  left: 10%;
  top: 10%;
  bottom: 10%;
  right: 10%;
  z-index: 2;
}
.header-img {
  width: 100%;
  height: 100%;
}
.poster-1 {
  background: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  font-size: 1.4em;
}
.poster-1 .text {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.poster .poster-1 button {
  font-size: 1.3em;
  background: #fff;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.5em 2em;
  margin: 2em 0;
  display: block;
  color: rgb(37, 52, 95);
  border: 2px solid rgb(37, 52, 95);
  align-self: flex-end;
}
.poster-1 .left button {
  align-self: flex-start;
}
.poster .poster-1 button:hover {
  background: rgb(37, 52, 95);
  color: #fff;
  border-color: #fff;
}
.poster-1 h1 {
  text-transform: uppercase;
}
.poster-1 .left {
  order: 1;
}
.poster-1 .right {
  order: 2;
}

.poster-1 p {
  text-transform: capitalize;
}
.poster-1 p::first-letter {
  padding-left: 1em;
}
.poster-1 .post-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-width: 50%;
  height: 100%;
}
.poster.visible .poster-1 img {
  animation: slidetoRight 0.6s ease-in-out 1;
}
@keyframes bouncing {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slidetoRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
